{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operaviz</title>

    <script type="text/javascript">
        var barcodeUrl = "{{ results.barcode_image|safe }}";
        var videoUrl = "{{ results.video_file|safe }}";
        var masterM3u8Url = "{{ results.master_m3u8|safe }}";
        var videoLength = {{ results.video_length|safe }};
        var marks = {{ results.documents|safe }};
    </script>

    <link rel="stylesheet" href={% static "css/style.css" %}>
</head>

<body>
<h1>OperaViz</h1>

<div id="search_form">
        <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
            <input type="text" name="search_string">
            <button type="submit">Suche</button>
        </form>
    </div>

<h2>Suchanfrage: {{ results.search_string|safe }}</h2>
<h2>Video Name: {{ results.video_name|safe }}</h2>

<div id="vis"></div>

<div id="result-area">
    <div id="video-area">
        <video id="video-player" controls>
        </video>
    </div>
    <div id="results"></div>
</div>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src={% static "js/hls.js" %}></script>
<script src={% static "js/vis.js" %}></script>

</body>
</html>