body {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(30,30,30);
    color: rgb(200, 200, 200);
    font-family: sans-serif;
}

#vis {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

#search_form {
    margin-bottom: 40px;
}

#search_form input[type=text] {
    background-color: rgba(255,255,255,0.5);
    border-style: none;
    padding: 10px 20px;
    width: 40%;
    border-radius: 100px;
    font-size: 20pt;

}

#search_form button[type=submit] {
    background-color: rgba(76,175,80,1);
    border-style: none;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 20pt;
    cursor: pointer;

}

#video-player {
    width: 40%;
    display: inline;
    float: left;
}

#results {
    display: inline;
    float:left;
    margin-left: 20px;
}

.play-button {
    background-color: rgba(76,175,80,1);
    border-style: none;
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 12pt;
    cursor: pointer;
    margin-left: 10px;
    position: absolute; right: 0;
}

.play-div {
    display: inline;
}

.time-span {
    margin-right: 10px;
    vertical-align: middle;
}

.text-span {
    vertical-align: middle;
}

.result-container {
    padding: 10px;
    border-bottom: solid;
    position: relative;
}